[2013-08-28 14:30] ahelm opened #1 "fix link to fusionforge in UserManual.tex"
Hello,

in [here](https://github.com/ComputationalRadiationPhysics/libSplash/blob/master/doc/manual/UserManual.tex#L101) is still the link to the old source code.

Change it to **git** and **github**.

Cheers,
Anton

[2013-08-30 08:38] #1 closed, assigned to f-schmitt

[2013-09-06 09:26] ax3l opened #6 "Add examples to .travis.yml"
Build & test the examples during travis ci runs, too.

[2013-09-06 18:49] #6 closed, assigned to ax3l

[2013-09-07 06:54] f-schmitt opened #9 "Merge fixes from parallel to master"
- Merge bug fixes and examples from parallel to master branch
- assess if complete merge reasonable

[2013-09-09 13:28] #9 closed, assigned to f-schmitt

[2013-09-09 13:29] f-schmitt opened #11 "Update documentation"
especially for parallel I/O

[2013-09-09 18:45] ax3l opened #13 "Benchmarks"
Let's perform some Benchmarks.

At least on our Panasus (hypnos) and on taurus (lustre?).

They should end up like usual (parallel-)hdf5 benchmarks.

[2013-09-09 18:49] ax3l opened #14 "Parallel Write Example"
I would like to add at least a **parallel write** example for the **sandbox MD simulation** (= *particles* only) I wrote [here](https://github.com/ax3l/MDSim).

- We can test directories for **ghost** particles (= *guards*).
- We can add some cell-attributes in that simulation to simulate grids, too.
- We can add an easy-to-use example for analysis and visualisation of the data.

[2013-09-12 11:15] f-schmitt opened #15 "add a unified header file"
add a unified header file (splash.h) which allows to test on parallel IO support

[2013-09-16 13:42] #15 closed, assigned to f-schmitt

[2013-09-16 13:46] ax3l opened #17 "CMakeLists.txt: Use HDF5_IS_PARALLEL"
According to [FindHDF5.cmake](http://cmake.org/gitweb?p=cmake.git;a=blob;f=Modules/FindHDF5.cmake;hb=HEAD) we should remove
`OPTION(PARALLEL "enable parallel MPI I/O" OFF)`
and check for
`HDF5_IS_PARALLEL - Whether or not HDF5 was found with parallel IO support`
from `FIND_PACKAGE(HDF5)`

Easy and nice.

[2013-09-17 07:38] #17 closed, assigned to nobody

[2013-09-19 18:01] ax3l opened #21 "Doc: IDomainCollector -> writeDomain -> id"
[Doc method writeDomain](http://computationalradiationphysics.github.io/libSplash/class_d_collector_1_1_domain_collector.html) param `id`: `read from` ? ... `write to`

[2013-09-20 11:39] f-schmitt opened #22 "Create Fortran bindings"
Create Fortran bindings to make libSplash usable in Fortran programs

[2013-09-22 11:14] #21 closed, assigned to nobody

[2013-09-25 13:55] f-schmitt opened #30 "Support SPLASH_VERBOSE env variable"

[2013-09-25 16:50] ax3l opened #31 "Reading Domains: Get Type"
How to compare a stored type annotation to an according `DCollector::CollectionType` again?

[code]

`DomDataClass::getDataType()` returns a `H5DataType` (not useful, because we only know `DCollector::CollectionType`s)

How can I find my `float`/`ColTypeFloat` or `double`/`ColTypeDouble` from `data_class`?

[2013-09-26 08:55] #31 closed, assigned to f-schmitt

[2013-10-04 16:55] #30 closed, assigned to f-schmitt

[2013-10-10 20:19] ax3l opened #40 "Versioning, CMake Finds and Release Strategies"
### Version.hpp

It would be a good idea to create version file like [boost/version.hpp](http://www.boost.org/doc/libs/1_54_0/boost/version.hpp)

This would enable users to check for the version number with cmakes `VERSION_LESS` compare operator, as seen in [cmake-2.X/Modules/FindBoost.cmake](https://github.com/Kitware/CMake/blob/4e5cb398ae392079031ae6a880569349c29770a6/Modules/FindBoost.cmake#L64

[2013-10-15 14:49] psychocoderHPC opened #42 "Not possible to write empty data with NULL pointer"
All write methods (e.g. writeDomain) not support to write empty data and use a NULL pointer as data pointer.

Error:

[1,15]<stderr>:terminate called after throwing an instance of 'DCollector::DCException'
[1,15]<stderr>:  what():  Exception for SerialDataCollector::write: a parameter was NULL

[2013-10-17 07:38] f-schmitt opened #44 "rename DCollector:: namespace to splash::"

[2013-10-17 11:23] #44 closed, assigned to f-schmitt

[2013-10-17 11:23] #42 closed, assigned to f-schmitt

[2013-10-17 12:26] ax3l opened #46 "domainOffsets: without globalDomOffset"
@f-schmitt-zih @psychocoderHPC
We were discussing if it would be more useful to define the domainOffset _starting_ with (0,0,0) from the globalDomOffset.

That would "extract" the `globalDomOffset` as an meta attribute for the whole domain, for example if I want to follow a moving window and I need an _absolute position_.

`testIntersection` would have to read the `globalDomOffset` in this case.

[2013-10-17 20:10] f-schmitt opened #47 "Requests for version 1.2 of libSplash"
@psychocoderHPC , @ax3l , @bussmann

I would like to brainstorm new ideas, feature requests for the next version of libSplash.

Some ideas:
- do we want to maintain serial + parallel version?
- do we want to maintain writing data without domain information?
- which features are required/nice for reading the data for analysis fast and easy?
- do we want asynchronous write to memory (extensive cachi

[2013-10-24 15:51] #40 closed, assigned to f-schmitt

[2013-11-29 14:59] f-schmitt opened #53 "Add support for 64bit integer basetypes"
need support for 64bit integer basetypes (signed+unsigned)

[2013-12-01 10:58] ax3l opened #55 "Travis Broken"
I'll have to fix the travis support.
Seem that the line `sudo apt-get install -qq libcppunit-dev libboost-program-options-dev $APTMPI $APTHDF5` is broken, investigating...

[2013-12-02 07:34] #55 closed, assigned to ax3l

[2013-12-02 12:35] #53 closed, assigned to f-schmitt

[2013-12-02 14:01] f-schmitt opened #58 "Duplicate user MPI communicator for ParallelDataCollector"
to prevent interference with user-app MPI messages

[2013-12-03 10:31] f-schmitt opened #60 "Remove requirement to link with shared library version of HDF5"
we should also support linking with HDF5 statically

[2013-12-03 10:48] ax3l opened #61 "Releases: ChangeLog"
Write a [CHANGELOG.md](https://github.com/ComputationalRadiationPhysics/picongpu/blob/master/CHANGELOG.md) for each new commit in `master`.
With a special highlight interface changes.

Commit/Pull in `master` from a intermediate `release-XYZ` branch -> `tag` it as `vX.Y`

[2013-12-03 11:23] #58 closed, assigned to f-schmitt

[2013-12-03 16:16] ax3l opened #63 "HDF5 1.8.12"
HDF5 1.8.12 is [out](http://www.hdfgroup.org/HDF5/doc/ADGuide/Changes.html) - the world is a better place now! :sparkles:

Do some of these changes affect us?

[2013-12-05 13:07] #60 closed, assigned to f-schmitt

[2013-12-06 11:46] ax3l opened #66 "Tool: png to splash"
A tool reading a png picture and translating it in a scalar 2D grid entry would be really useful (e.g. to start simulations with a gas profile like the PIConGPU logo).
Option: transform to 3D field and clone in one direction.

[2013-12-06 15:21] f-schmitt opened #67 "Add support for n-dimensional datasets"
1-3D --> nD

[2013-12-06 15:22] f-schmitt opened #68 "Fix DCDataSet::read to properly support reading zero data"

[2013-12-10 20:33] ax3l opened #70 "CMake: Add CPack Routines"
At least for `.deb` packages, yeah :dancer:

Getting started: http://www.cmake.org/Wiki/CMake:Packaging_With_CPack
Example: http://www.cmake.org/Wiki/CMake/CPackExample
Deb, RPM & OSX: http://www.cmake.org/Wiki/CMake:CPackPackageGenerators#DEB_.28UNIX_only.29

Add this packages as binary downloads to each new _libSplash_ [release](https://github.com/ComputationalRadiationPhysics/libSplash/releases

[2013-12-11 14:55] #68 closed, assigned to f-schmitt

[2013-12-16 16:46] ax3l opened #72 "Header files / Includes"
During the deployment of `CPack` routines in #70 I realized a slight problem with the "huge number" (>1) of include files we produce.

Technically, a user only sees `splash.h` but of couse this one pulls more header dependencies in. If I would like to install **libSplash** the clean way, I would specify a **prefix** like `/usr` (that's the default).

By that, our two libraries (.so, .a) go to `/us

[2013-12-17 10:35] ax3l opened #73 "Data Format: Version Number"
How about adding a simple _data format_ version to `version.hpp`?
The change in a version in _libSplash_ does not necessarily mean _(in)compatible_ hdf5 files...

We could increment it (e.g. start with `1` in **splash 1.1**) for any incompatible changes that will occur later on.

We could also use `major` and `minor` for compatible and incompatible data format changes, but maybe just a single numb

[2013-12-18 15:15] #72 closed, assigned to f-schmitt

[2013-12-18 16:40] ax3l opened #78 "FindSplash module"
Add a `FindSplash.cmake` Module for CMake's `find_package`.
This module should find Splash and set some useful but space-wasting variables like `SPLASH_VERSION`, `SPLASH_FORMAT`, `SPLASH_PARALLEL`, ... in CMake.

Copied to e.g. `<INSTALL PATH>/cmake`, it is found if `$SPLASH_ROOT(/bin)` is in  `$PATH`: [doc](http://www.cmake.org/cmake/help/v2.8.12/cmake.html#command:find_package)

Btw: I would pre

[2013-12-19 09:47] ax3l opened #81 "Describe HDF5 Structure"
We should somewhere describe our generic HDF5 structure we create.

Even if we prefer using _~~lib~~Splash_ for reading and writing, it's a good manner to transparently allow other HDF5 readers/writers to jump in.

[2013-12-19 09:56] #73 closed, assigned to ax3l

[2014-01-16 09:47] f-schmitt opened #89 "parallel read fails if offset is beyond dataspace"
In principle, invalid offsets are bound to fail. However, zero reads must be allowed with invalid offsets.

[2014-01-22 09:47] #11 closed, assigned to f-schmitt

[2014-01-23 12:14] #89 closed, assigned to f-schmitt

[2014-01-23 22:07] #61 closed, assigned to f-schmitt

[2014-02-07 13:34] ax3l opened #95 "Auto XDMF Description"
We could try to write an `xdmf` file during `DataCollector.close()` that describes all the written hdf5 data sets.

It might be an option to automatically remember all the attributes we wrote since the `DataCollector` was opened.

Positive effect: this feature would allow us to use the native hdf5/xdmf readers of tools like VisIt and ParaView.

[2014-02-22 10:36] #95 closed, assigned to f-schmitt

[2014-03-13 08:45] f-schmitt opened #105 "Add an explicit cleanup/free to SDC/PDC"
An explicit point to free all allocated resources is beneficial. Otherwise, there is no nice way to free the internal MPI_Comm for a stack-allocated PDC in `main` before the user calls `MPI_Finalize`.

[2014-03-26 09:13] ax3l opened #108 "Performance Tuning: MPI_Info and H5P Options"
We should make use of a MPI_Info object.
### Some ressources:
- [HLRS/Jaguar Wiki](https://wickie.hlrs.de/platforms/index.php/MPI-IO) (MPI_Info)
- [ORNL Lustre Basics](https://www.olcf.ornl.gov/kb_articles/lustre-basics/) (striding)
- [Jaguar Lustre example](http://lists.lustre.org/pipermail/lustre-discuss/attachments/20070709/81fa6c85/ORNL-wyu.obj) (old MPI_Info flags, includes [H5Pset_sieve_buf_

[2014-03-28 16:11] psychocoderHPC opened #111 "listFilesInDir BUG"
There is a Bug in `ParallelDataCollector` in `getMaxID()`, it always return zero.

I add some more debug output and see that the bug is in `listFilesInDir()`.
This are my debug changes (only the log_msg)

[code]

I get this output

[code]

There is something wrong inside the parameter calculation for `atoi()`

[2014-04-01 09:15] f-schmitt opened #115 "Clarify and reduce interfaces"
Some write/read interfaces are quite long and have several overloaded versions. To increase usability, use helper/meta classes like `Domain` and `Selection` to reduce the number of required parameters and avoid confusing their order. Moreover, this will reduce the number of required overloaded functions.

[2014-04-02 07:28] #78 closed, assigned to ax3l

[2014-04-07 07:43] #81 closed, assigned to f-schmitt

[2014-04-07 08:16] #111 closed, assigned to f-schmitt

[2014-04-07 11:59] #115 closed, assigned to f-schmitt

[2014-04-07 15:48] #105 closed, assigned to f-schmitt

[2014-04-07 16:04] #66 closed, assigned to nobody

[2014-04-08 11:17] ax3l opened #122 "splash2xdmf: Filename (without -t)"
Cross posting of https://github.com/ComputationalRadiationPhysics/picongpu/issues/330 since the grid/poly file splitting already happens in `splash2xdmf.py`.

[2014-04-17 14:41] #122 closed

[2014-04-25 07:56] #63 closed, assigned to f-schmitt

[2014-04-28 11:34] #70 closed, assigned to ax3l

[2014-04-29 11:15] #46 closed, assigned to f-schmitt

[2014-04-30 14:57] #47 closed, assigned to nobody

[2014-05-01 14:37] ax3l opened #127 "2D Data Set in 1D Topology"
one of the interfaces of `writeDomain` in at least the _parallel_ domain collector is broken for the following use case:
- writing a 2D grid with a 1D topology with "moving window"

Apply the following patch to a checked out version of `v.1.1.1` to test. I assume the one overloaded member in `v.1.2.0` will also be affected and the error may relies at `ParallelDataCollector::gatherMPIWrite`:

[code

[2014-05-02 08:19] f-schmitt opened #128 "Fix `open` interface for PDC and support virtual MPI positions"
Related to a misunderstanding in #127

[2014-05-02 08:55] f-schmitt opened #129 "Re-enable Parallel_SimpleDataTest"
Parallel_SimpleDataTest has been disabled and is currently not tested

[2014-05-02 10:09] #127 closed, assigned to nobody

[2014-05-05 12:05] #129 closed, assigned to f-schmitt

[2014-05-12 21:22] ax3l opened #131 "writeDomain -> localDomain"
Shouldn't [this entry](https://github.com/ComputationalRadiationPhysics/libSplash/blob/fcb671837b5fdc9573e0ac3432060145e6339b46/src/ParallelDomainCollector.cpp#L463) in `localDomain` come from the `Selection` input?
like this

[code]

~~Furthermore, shouldn't the offset be the offset of the local domain within the globalDomain?~~ that does not make sense for a ParallelDomain write so (0,0,0) is fi

[2014-05-12 21:48] #131 closed, assigned to nobody

[2014-05-22 11:09] PrometheusPi opened #132 "hdf5 dimension labels and bin values"
HDF5 seems to support dimension scales and labels [[1]](http://docs.h5py.org/en/latest/high/dims.html). Is this already included in _libSplash_?
If no, do you think this might be a good feature to add?
I think, this would be extremely useful for documenting physics quantities stored in arrays.

I have not found this option in the HDF5 documentation, but in some tutorials [[2]](http://www.hdfgroup.

[2014-05-23 14:14] PrometheusPi opened #133 "Resizable datasets used always"
It seems as _libSplash_ uses **resizable datasets in any case**. This might be good for data that might change size but not for data with fixed size (e.g. magnetic field data). Always allowing resizable datasets **might cost performance**.

For information on resizable datasets see [[1]](http://docs.h5py.org/en/latest/high/dataset.html#resizable-datasets).

As an example in _PIConGPU_ see the foll

[2014-05-26 08:25] ax3l commented on #133
I agree that any (good) implementation should not waste performance in our case. Anyway, we shouldn't rely on that assumption, likewise we realized drawbacks with other features like hyper-slabs.

I guess if we know in advance that the data set will not be resized, than we should not tell the API that we _might_ resize it. Sounds fair to me.

[2014-05-27 13:32] #133 closed, assigned to f-schmitt

[2014-06-23 11:05] ax3l opened #140 "h5utils: Document Some Use Cases"
The debian package [h5utils](https://packages.debian.org/wheezy/h5utils) contains some interesting tools.

It might be useful to play around with them on our data sets and to document some useful applications.

_quote_:
- **h5topng**, which extracts a 2d slice of an HDF5 file and outputs a corresponding image in PNG format
- **h5totxt**, which extracts 2d slices and outputs comma-delimited text (s

[2014-09-22 11:36] f-schmitt opened #141 "Make step group optional within a file"
Allow user to change the internal file structure to avoid the timestep group.
Required to use splash files with VisIt.
Add an internal flag to state that this group is missing to allow transparent reading of such files.

[2014-10-10 10:41] f-schmitt opened #144 "Prepare Release 1.2.3"
@ax3l Any concerns over releasing this as version 1.2.3?

Need to update version header.
No update of file format required.

[2014-10-14 11:04] #144 closed, assigned to f-schmitt

[2015-01-07 09:25] psychocoderHPC opened #148 "collective read in ParallelDataCollector hangs"
If N processes call collective `ParallelDataCollector::read(...)` and some read zero amount of data the read call hangs.
This is the case when all process which read zero amount of data set `sizeRead` to zero and the pointer `buf` to `NULL`. e.g.
[code]

The BUG is triggered by [this](https://github.com/ComputationalRadiationPhysics/libSplash/blob/dev/src/DCDataSet.cpp#L456) check because not all

[2015-01-08 09:26] ax3l commented on #148
As mentioned [here](https://github.com/ComputationalRadiationPhysics/picongpu/pull/611#issuecomment-69154817) we could add a test for that case.

[2015-01-21 10:36] #148 closed

[2015-02-07 01:10] ax3l opened #152 "Representation of Bool Types"
@PrometheusPi reported a problem reading particle `bool` attributes with `h5py` in https://github.com/ComputationalRadiationPhysics/picongpu/issues/682.

The problem is of course, that HDF5 has [no native boolean type](http://www.hdfgroup.org/hdf5-quest.html#bool) why we implemented a ~~1~~ 8 byte (?) bitfield as a work-around.

`h5py` instead uses [HDF5 enums](http://docs.h5py.org/en/latest/faq.h

[2015-02-07 01:27] ax3l commented on #152
Here is [the according h5py implementation](https://github.com/h5py/h5py/blob/854bc04f63fe92d1f5b1eef36a96eaa2674fe07f/h5py/h5t.pyx#L1320-L1330):
[code]

It's actually a pitty since they follow the [official advise](http://www.hdfgroup.org/hdf5-quest.html#bool) to spoil 4 bytes (an int) for a 1 byte (bool) information...

[2015-02-07 01:44] ax3l commented on #152
An other interesting question is: our [getSize](https://github.com/ComputationalRadiationPhysics/libSplash/blob/cd0fd3d1edc3822b40ffb6bd0ff0eb09687a0acf/src/include/splash/basetypes/ColTypeBool.hpp#L49) for this type returns `1 byte` with `sizeof (bool)` which was and still is != the size in hdf5 (but the size in memory before conversion).

[2015-02-09 08:56] ax3l opened #154 "Help for test run scripts"
If [$build and $1](https://github.com/ComputationalRadiationPhysics/libSplash/blob/cd0fd3d1edc3822b40ffb6bd0ff0eb09687a0acf/tests/run_tests#L3) are not set, a small help text would be useful.

[2015-02-09 12:59] ax3l opened #155 "CMake: Add CPPUnit Module"
Still [missing](https://github.com/ComputationalRadiationPhysics/libSplash/blob/cd0fd3d1edc3822b40ffb6bd0ff0eb09687a0acf/tests/CMakeLists.txt#L47-L49) and a bit confusing to new users.

[2015-02-09 13:20] ax3l opened #156 "Tests: Better Documentation"
Test right now are a bit hard-coded in the specific "travis" style.

We should refactor them a little, add doc strings (#154) and allow them to be executed directly after the make step without too much effort.

- [x] some script copies already added with #153 - check again for (nasty) in-source builds
- [x] check for python, `h5py` and `numpy`

[2015-02-09 15:12] ax3l opened #157 "Iteration instead of time step"
Make sure we always refer to "step" instead of "timestep" or similar.

A "step" does not need to be related to time, even if it is in PIConGPU (right now).

(To add more confusion: in a [boosted frame simulation](http://dx.doi.org/10.1016/j.jcp.2011.04.003), a step does not necessarily mean that all the data of this step is actually "measured" at the *same time*.)

[2015-02-12 02:18] #152 closed

[2015-02-12 17:21] ax3l opened #159 "Adjust Size/Offset Keywords to OpenPMD"
Defined [here](https://github.com/ComputationalRadiationPhysics/libSplash/blob/5e7f014bba478640b0ad12a26d4659e0e53d9146/src/include/splash/domains/IDomainCollector.hpp#L31-L36)

[2015-03-18 12:11] BeyondEspresso opened #160 "Pass error msgs from HDF5-functions with `splash::DCExceptions`"
Repeated crashes of PIConGPU during checkpoint writing (`splash::DCExceptions`:  Exception for DCDataSet [x] write: Failed to write dataset ) have risen the question, whether some bad input or a full file system (which according to `df -h .` was not supposed to be full) causes the exception.

Since libSplash only shows the fact that something went wrong (return value `<0`) but not the root cause,

[2015-03-20 00:28] ax3l commented on #160
Did you try `export SPLASH_VERBOSE=<HIGH_NUMBER>` to get a bit more insights?

[2015-03-20 12:09] BeyondEspresso commented on #160
No, I did not try `SPLASH_VERBOSE`. Instead I looked at the origin of the exceoption in the source code. There it is quite clear, that internal HDF5 error codes are pretty much ignored, since only the distinction between success and error is made.

I actually had a look into Chapter 9 and some other sections of the HDF5 manual. The best way foward seems to me to add an HDF5-error code to the inter

[2015-03-20 12:46] bussmann commented on #160
I like the idea of forwarding HDF5 errors.

[2015-03-20 13:35] BeyondEspresso commented on #160
It should be actually easier than described above. I only need to get the error stack in strings instead of having them shuffled into a file pointer.

[2015-03-20 13:51] f-schmitt-zih commented on #160
I think you actually have to recompile libSplash with a special debug flag
to enable the hdf5 messages. The problem is that you will also get false
negatives from hdf5.
On Mar 19, 2015 5:28 PM, "Axel Huebl" <notifications@github.com> wrote:

[2015-03-20 16:07] BeyondEspresso commented on #160
I have a compiling branch, but I still need to test it somehow. Any idea how I can quickly provoke a nice hdf5-error without having to load the HDF5-error stack manually?

[2015-03-20 16:16] f-schmitt-zih commented on #160
Compile libsplash with
-DSPLASH_VERBOSE_HDF5=1
On Mar 20, 2015 9:07 AM, "Alexander Debus" <notifications@github.com> wrote:

[2015-03-20 16:20] BeyondEspresso commented on #160
Current dev branch
`cmake -DCMAKE_INSTALL_PREFIX=~/lib/splash -DSPLASH_VERBOSE_HDF5=1 ~/src/libSplash`
[code]

[2015-03-20 17:45] ax3l commented on #160
@f-schmitt-zih suggested you should add such a flag if one wants to enable that.

just a reminder: exporting `SPLASH_VERBOSE` does not give you HDF5 errors but  it *still helps you* to check if your input is valid (since that was your initial question).

[2015-03-20 17:46] ax3l commented on #160
@f-schmitt-zih we could alternatively add the HDF5 output just for a certain value of `SPLASH_VERBOSE` - or do you see an advantage to separate that?

[2015-03-20 18:01] f-schmitt-zih commented on #160
No, I suggested to compile libsplash with that flag since it will enable
hdf5 error messages. The appropriate cmake option to use is DEBUG_VERBOSE.

As I said, enabling hdf5 error messages will also give you false negatives.
Don't know if they have an api or so to query them manually on request.
On Mar 20, 2015 10:46 AM, "Axel Huebl" <notifications@github.com> wrote:

[2015-03-20 18:27] ax3l commented on #160
Ah good to know! Why did the get a configure error then?

They have a manual API, I linked it above.

[2015-03-20 19:56] BeyondEspresso commented on #160
This is strange. According to `CMakeLists.txt`, `src/SerialDataCollector.cpp` and `src/ParallelDataCollector.cpp`, an *activated* `DEBUG_VERBOSE` flag *supresses* all HDF5 output. A *deactivated* `DEBUG_VERBOSE` defaults to the library default settings, which is to output all HDF5 exceptions to `stderr`. However, I did not see any of these in the original `stderr` output.

Two questions:
1) Has th

[2015-03-20 19:57] BeyondEspresso commented on #160
@f-schmitt-zih What do you mean with false negatives? Does this mean, the HDF5 API tells you everything is fine (negative, no error), when in reality it has thrown an exception?

[2015-03-20 20:06] f-schmitt-zih commented on #160
You are wrong. DEBUG_VERBOSE sets SPLASH_VERBOSE_HDF5 which means the
ifndef is false and suppression us not triggered.
On Mar 20, 2015 12:56 PM, "Alexander Debus" <notifications@github.com>
wrote:

[2015-03-20 20:07] f-schmitt-zih commented on #160
No, it shows an error when there is none.
On Mar 20, 2015 12:57 PM, "Alexander Debus" <notifications@github.com>
wrote:

[2015-03-20 20:29] BeyondEspresso commented on #160
Thanks @f-schmitt-zih , somehow I have not seen the `n` in `ifndef`. If the `DEBUG_VERBOSE` option triggers false alarm, it would be useful to have splash append the HDF5 error stack to the message of the relevant `splash::DCException`s, so that there is only a report when a fatal error occurs. Then I will proceed with the pull request.

[2015-03-30 12:12] ax3l commented on #159
with latest version of the draft probably not necessary.

[2015-03-31 11:49] ax3l opened #162 "Flip Attributes: Offset, Size"
We just changed the file format in a full version to introduce `h5py` compatible `bool` values in #153.

With the upcoming release of `1.3` we could use the change and also
  - flip the attributes for offsets and sizes

to be correctly in `z,y,x` order too (we also flip the coordinates of the data sets). That would reduce the confusion for users while reading our data with other tools, e.g., with

[2015-04-08 07:34] ax3l opened #163 "openPMD: Implement High-Level C++ Interfaces"
https://github.com/ComputationalRadiationPhysics/openPMD

Use the internal file format update to change some minor conventions and to add some more group attributes as they are defined in the `openPMD` base standard (not the ED-PIC extension).

main tasks:
- [ ] adding the required attributes to `/` and to each record (units and time)
- [ ] adding read/write support for constant components
- [x] a

[2015-04-09 08:09] ax3l opened #164 "HDF5 Driver: Family"
It might be possible that the [H5FD_FAMILY](http://www.hdfgroup.org/HDF5/doc/UG/08_TheFile.html) driver is worth exploring for systems with multiple OSTs.

[code]

e.g., on lustre based file systems, MPI-I/O is usually limited to use only a limited number of OST (~128) per file which slows down on runs with more then several hundred ranks. Splitting the output in several files with that driver cou

[2015-04-09 08:24] ax3l commented on #164
Currently, the splitting of files only occurs on "maximum size" of a single file, doe to it's initial design goal of supporting file systems with 2GB max file-size.

That would be something that needs to be hacked in the hdf5 implementation.

Example python code for writing:
[code]

Example python code for reading:
[code]

[2015-04-09 08:30] ax3l opened #165 "Evaluation: Speedup of Close"
@psychocoderHPC found in a past evaluation, that the time for an [H5Fclose](http://www.hdfgroup.org/HDF5/doc/RM/RM_H5F.html#File-Close) can be reduced by about a *factor 3* if the file-consistency check (ref?) is skipped in the HDF5 implementation.

Consequences for MPI-I/O output could be evaluated. It might be worth to consider adding a hook/option in the HDF5 API and to propose it for upcoming

[2015-04-09 08:45] ax3l commented on #164
There are also [drivers](https://www.hdfgroup.org/HDF5/doc/RM/Tools.html) for `split` and `multi` files, but it seems they only apply for several levels of meta and raw data - not rank wise.

[2015-04-09 08:48] psychocoderHPC commented on #165
[Tuning HDF5 for Lustre File Systems](http://www.hdfgroup.org/pubs/papers/howison_hdf5_lustre_iasds2010.pdf)
[code]

[2015-04-09 15:13] ax3l commented on #165
And the good old [Parallel HDF5 Hints](http://www.hdfgroup.org/HDF5/PHDF5/parallelhdf5hints.pdf)

[2015-04-15 01:35] wolfbill opened #168 "libsplash make install error"
When I run make install I got the error:
[100%] Building CXX object CMakeFiles/domain_read.cpp.out.dir/domain_read/domain_read.cpp.o

My software environment:
System:rhel6.4
openmpi:1.5.4

[2015-04-15 07:32] psychocoderHPC commented on #168
Please provide use  with the following information's:
- goto the source code folder and run
  - `git rev-parse HEAD`
  - `git status -sb`
- goto your build folder:
  - remove all files `rm -r *`
  - run again your cmake command:
    - post your cmake command
    - post the cmake output
- run `make install` and post the output

[2015-04-15 07:39] ax3l commented on #168
pls always provide all the information written above from @psychocoderHPC so we have a chance to understand your problem :)

from a very dusty view, it looks like you tried to build the examples without installing and setting up the environment of `libSplash` first: see our [INSTALL](https://github.com/ComputationalRadiationPhysics/libSplash/blob/dev/INSTALL.md#compiling) guide (last paragraph: *c

[2015-04-30 19:19] ax3l opened #170 "Simple Dataspaces for Attributes"
@f-schmitt-zih Is it currently possible to write an attribute that consists of a fixed number of base types, e.g., 7 doubles? (I am not sure libSplash already supports that, basic HDF5, h5py and ADIOS 1.9+ does.)

This is necessary for initial openPMD support, so users can flavor their output accordingly (see `unitDimension` attribute).

Python example with h5py:
[code]

[2015-04-30 20:11] psychocoderHPC commented on #170
I think at the moment it is not possible, but if you add `double7` [here](https://github.com/ComputationalRadiationPhysics/libSplash/blob/dev/src/include/splash/basetypes/basetypes_compound.hpp#L61) it is.

[2015-04-30 20:20] psychocoderHPC commented on #170
If you need a real array and no compound type you can implement a new type like the old splash `bool` implementation https://github.com/ComputationalRadiationPhysics/libSplash/blob/e64a7aafadf6143b0ce3a2f5427707a1cb4a2e15/src/include/splash/basetypes/ColTypeBool.hpp

[2015-04-30 20:31] ax3l commented on #170
good idea, let me write a test to see if it's compatible with h5py

[2015-04-30 20:34] psychocoderHPC commented on #170
I updated my last comment!

[2015-04-30 20:36] psychocoderHPC commented on #170
example how we used it in PIConGPU https://github.com/ComputationalRadiationPhysics/picongpu/blob/master/src/picongpu/include/plugins/hdf5/WriteSpecies.hpp#L58

[2015-04-30 20:45] ax3l commented on #170
I saw your update, I am talking about `TYPE_ARRAY` ;)

[2015-04-30 20:59] ax3l commented on #170
Hm, I expected that.

For arrays, example diff:
[code]

libSplash creates (h5dump -H)
[code]
which can not be read via h5py
[code]

but it should actually be an
[code]

interesting: that is the difference between both in hdfview:
![arrayattribsplash](https://cloud.githubusercontent.com/assets/1353258/7422357/8ff6e5cc-ef8c-11e4-9bf1-d3381ba41b03.png)

[2015-04-30 21:02] ax3l commented on #170
trying again with `TYPE_COMPOUND`...

[2015-04-30 21:10] ax3l commented on #170
What we should actually use instead of compounds, which are more for mixing types, are [HDF5 Simple Dataspaces](https://hdfgroup.org/HDF5/doc/UG/UG_frame12Dataspaces.html):
[code]

[2015-04-30 21:34] ax3l commented on #170
I am implementing `TYPE_SIMPLE` already... cool, they even allow multi-dimensional [simple dataspaces](https://hdfgroup.org/HDF5/doc/RM/RM_H5S.html#Dataspace-CreateSimple) ^^

[2015-04-30 22:37] ax3l commented on #170
Working quick & dirty preview:
  https://github.com/ax3l/libSplash/commit/b64d3b50077416ca338aa74deeb927a1e3834c0b

[2015-05-01 06:08] psychocoderHPC commented on #170
H5view has some bugs with compount types and might be with arrays, so don't thrust h5view!

[2015-05-01 15:55] ax3l commented on #170
that's why I posted the trustworthy h5dump outputs ;)

[2015-05-04 00:57] f-schmitt-zih commented on #162
Of course, sounds like a good change! I wouldn't call it a bug, though.

[2015-05-04 06:04] ax3l commented on #162
True, it's more of a refactoring :)

[2015-05-04 14:03] ax3l commented on #157
actually, we write "iteration" on many parts of the code, which is even better! :)

[2015-05-04 14:05] #156 closed

[2015-05-04 14:05] ax3l commented on #156
Since #153 several h5py/numpy compatible tests have been added.

[2015-05-04 17:55] ax3l opened #173 "Writing Actual Global Attributes"
**Refactoring:** Currently, when using `writeGlobalAttribute` calls, the [SDC_GROUP_CUSTOM](https://github.com/ComputationalRadiationPhysics/libSplash/blob/c3729923126b9d2bc90036abc1679b4a10e52db2/src/include/splash/sdc_defines.hpp#L32) is used.

Nevertheless, we need a bit more control over that or could even consider replacing the `/custom/` group with the actual global root `/`.

Background: Ne

[2015-05-04 17:55] ax3l commented on #173
@psychocoderHPC @f-schmitt-zih am I missing something or is writing an attribute to `/` currently not possible? :)

[2015-05-04 19:03] ax3l opened #174 "Add Recognition for new DCDataTypes"
We need to add enums and the general recognition in Splash for the new data types:

- DCDT_BOOL: #153 #198
- DCDT_CHAR, DCDT_STRING, DCDT_VLSTRING: #167
- ARRAY and COMPOUNDS?

- [x] At least [the following files](https://github.com/ax3l/libSplash/commit/a34235ccf75466ec3fa4959c81d2edbc8e0e4bc3) need an update.
- [x] Also, tests should be added that actually use `DCDataSet::getDCDataType()` and `D

[2015-05-07 02:29] f-schmitt-zih commented on #174
Yes, they are most likely only used in the tool.
Looks good in general, chars and bools should be easy. I am not as sure about the array types etc.

[2015-05-07 08:04] ax3l commented on #174
The array and compound types are new types, if we need them one could add them, too (I added a collection of the necessary commands in [a draft](https://github.com/ax3l/libSplash/commit/a34235ccf75466ec3fa4959c81d2edbc8e0e4bc3), but especially compounds are cumbersome...)

[2015-05-08 17:44] ax3l commented on #173
If that is the case, I would vote for removing the group `/custom` and using `/` directly instead with the current file format change to `3.x`

[2015-05-08 17:55] ax3l commented on #173
ah, I see... the [SerialDataCollector](https://github.com/ComputationalRadiationPhysics/libSplash/blob/87316a84dcac9cb1a9ef86066c53c089d2f08d34/src/SerialDataCollector.cpp#L200-L202) has a non-merging-mode where the global attributes are allowed to differ between different MPI ranks...

well for that specific case we could write it still in a custom group, for serial+merging and parallel that does

[2015-05-20 12:28] ax3l opened #179 "XDMF3: Read Performance"
In `ParaView` seem to be [some quite recent updates](http://public.kitware.com/pipermail/paraview/2014-December/032911.html) regarding [Xdmf3](http://www.xdmf.org/index.php/Version_3) support that should speed up reading in parallel.

Let's see what hints we could add to speed reads up (make them actual parallel reads even when using "just one" HDF5 file beneath).

[2015-05-20 12:36] ax3l commented on #179
Recent paraviw [tutorial from DKRZ](https://www.dkrz.de/Nutzerportal-en/doku/vis/sw/paraview) (4.1+).

[2015-05-20 13:07] ax3l commented on #179
cc'ing @BeyondEspresso testing the reader currently in VTK -> ParaView

[2015-05-22 07:17] ax3l commented on #173
@psychocoderHPC @f-schmitt-zih pls provide me some feedback on that issue :)

[2015-05-22 07:17] ax3l commented on #170
close with #171

[2015-05-22 07:17] #170 closed

[2015-05-29 09:31] psychocoderHPC commented on #108
IMO HDF5 fill_value is not used by default:

Documentation
``H5D_FILL_TIME_IFSET `
Write fill values to the dataset when storage space is allocated **only if there is a user-defined fill value**, i.e., one set with H5Pset_fill_value.   (Default)

[2015-06-18 09:37] ax3l opened #180 "File Format: Write to File"
The [file format](https://github.com/ComputationalRadiationPhysics/libSplash/blob/0bb4c4595b63390fa864320e2c5b569855804fbd/src/include/splash/version.hpp#L31-L35) is currently not written to the file.

[2015-08-10 15:31] ax3l opened #181 "Future of the "Serial" Mode"
The serial mode was for some time now probably seen as a "legacy" part since it referred to the first implementation that we put before the parallel mode.

I would propose, in case we want to refactor that in the future, that the serial mode could be evolved to something similar to the `aggregated` mode in [ADIOS](https://github.com/ornladios/ADIOS), where we use several parallel writes but in mor

[2015-08-10 19:59] ax3l opened #184 "SDC_ATTR_COMPRESSION: New Bool Type"
Follow-up to #153 #198 to use the current format version change: use the new, `h5py` compatible, types for bools with `SDC_ATTR_COMPRESSION` instead of `H5T_NATIVE_HBOOL` that are used right now.

[2015-08-10 21:03] ax3l commented on #184
current type from `src/H5public.h`:
[code]

Btw tested via h5py "The typical true value is 1 but don't bet on it." -> it's not. it's just not 0.

[2015-08-10 21:05] ax3l commented on #184
even if the full representation changes, since this value is only for pure information purposes (data set reads are handled compressed/uncompressed by hdf5 internally) we can go with a `minor version update` when we change it.

[2015-08-12 21:26] ax3l commented on #180
Closed with #183

[2015-08-12 21:26] #180 closed

[2015-08-13 14:37] ax3l commented on #173
Closed with #182

[2015-08-13 14:37] #173 closed

[2015-08-18 21:06] #154 closed

[2015-08-26 11:58] ax3l opened #189 "Data Collector: Read CollectionType"
The `read` and `readAttribute` calls in the [DataCollector](https://computationalradiationphysics.github.io/libSplash/classsplash_1_1_data_collector.html) interface lack, in comparison to their write counter-parts, the possibility to read the `CollectionType` again.

It would be very helpful to take the maximum arguments in one of the two read calls and to add an additional call to read everything

[2015-08-26 13:26] ax3l commented on #159
can be changed to the defined `openPMD` names for `mesh` based data type offsets (and is allowed to be added for particles, too).

[2015-08-27 12:42] ax3l opened #190 "Wshadow"
At least the three header files
- `splash/domains/DomainData.hpp`
- `splash/domains/Domain.hpp`
- `splash/Selection.hpp`

but better the whole project should be `-Wshadow` free.

[2015-09-16 12:08] PrometheusPi opened #191 "libSplash not compiling on taurus"
I tried to compile `libSplash` `master` on taurus but failed.

I used:
 - ` gcc/4.8.0`
 - `boost/1.55.0-gnu4.8`
 - `openmpi/1.6`
 - `hdf5/1.8.14`

provided by the module system.

I got a linking error:
[code]

This might by a bug on taurus and how hdf5 is buld there. I will compile hdf5 on my own to test this.

Any other ideas why the linking failed?

[2015-09-16 12:10] ax3l commented on #191
Thanks for the report.
Do you have the same problem with the `dev` version?

[2015-09-16 12:11] PrometheusPi commented on #191
Thanks for the fast reply. I will try that now.

[2015-09-16 12:14] ax3l commented on #191
are you loading `bullxmpi` *and* `openmpi` ?

[2015-09-16 12:15] ax3l commented on #191
can't reproduce with my module set on `master`:
[code]

[2015-09-16 12:16] PrometheusPi commented on #191
Yes, I did. but I now checked it with only `bullxmpi`and it still fails.

[2015-09-16 12:17] PrometheusPi commented on #191
I only use a newer `cmake` and added `zlib`. Other than that, I use the same modules.

[2015-09-16 12:23] ax3l commented on #191
more tests:
- `module swap cmake cmake/3.3.1` works, too
- `module load zlib` works, too

[2015-09-16 12:26] PrometheusPi commented on #191
So it looks like an issue with `hdf5/1.8.14`.
What version of hdf5 have you compiled locally?

[2015-09-16 12:27] ax3l commented on #191
I did build `1.8.11` - looks like their module is lacking deps.

[2015-09-16 12:28] ax3l commented on #191
actually, our `picongpu.profile.example` does not use the module from taurus due to that reason ;)

[2015-09-16 12:30] ax3l commented on #191
I am pretty sure they forgot to compile with `-fPIC` and only compiled [static libs](https://stackoverflow.com/questions/3961446/why-does-gcc-not-implicitly-supply-the-fpic-flag-when-compiling-static-librarie). Classic.

[2015-09-16 12:30] PrometheusPi commented on #191
I knew there was an issue **a year ago** and hoped they fixed it in the mean time :)
I will build my own hdf5 and will provide feedback as soon as I am done.

[2015-09-16 12:48] ax3l commented on #191
ah no, taurus is one of the few systems that installed *both* static and shared hdf5 libs. this confuses our CMakeLists.txt a little.

[2015-09-16 13:08] ax3l commented on #191
ah and an other problem is, that they *also* have an additional `libhdf5.so` in their system paths...

[2015-09-16 13:51] PrometheusPi commented on #191
By compiling the current `HDF5-1.8.15 Patch 1` (available via hdf5group) myself, I could build libSplash.

My only problem was, that `./configure` did not take the `--prefix` option and I am not yet sure if it took the other options `--enable-parallel --enable-shared`.

[2015-09-16 13:54] ax3l commented on #191
debugged the problem to the core now.

taurus sets not only the `LD_LIBRARY_PATH` (run-time, execution time) but _also_ the `LIBRARY_PATH` (link-time). [As written in this excellent mailing list history](https://www.mail-archive.com/cmake@cmake.org/msg50018.html), libraries in `LIBRARY_PATH` are interpreted as **system directories** by [`gcc`](https://gist.github.com/ax3l/bb313ac0ee9326b43495) and

[2015-09-16 14:15] PrometheusPi commented on #191
@ax3l Would you recommend solution (a) over using a self-compiled hdf5?

[2015-09-16 14:24] ax3l commented on #191
yes, will update the module in picongpu myself.

already wrote the support about a)/d) und c) should not be necessary since "normal systems" (desktops) and other HPC systems do not use this variable regularly.

[2015-09-16 14:24] #191 closed

[2015-09-17 12:29] ax3l opened #193 "CMake: FindHDF5 HDF5_PREFER_PARALLEL"
CMake's `FindHDF5.cmake` module just learned the [HDF5_PREFER_PARALLEL](https://github.com/Kitware/CMake/commit/fd26a19afc24ac6ce62c4c31ec589c0d296f15de#diff-77f7dc8210bbb3d7f3c615816c89b297) option.

We should use it in the feature (post CMake 3.3.1 release).

[2015-09-17 16:33] ax3l opened #194 "GCC Flag: -Wconversion"
see https://github.com/ComputationalRadiationPhysics/picongpu/issues/970

[2015-09-22 14:12] ax3l opened #195 "Coverty Scan"
Run [Coverty Scan](https://scan.coverity.com/faq) with [travis-ci](http://docs.travis-ci.com/user/coverity-scan/) in a special branch and fix all the issues (oh oh).

[2015-10-01 12:42] ax3l commented on #189
Draft commit for further development: https://github.com/ax3l/libSplash/commit/95b42572ee485141508fbf6e35d98320f0e21d66

[2015-10-01 13:01] ax3l opened #196 "splashtools: types and dimensions"
It would be great if the current listing of entries in `splashtools` could be a bit extended.
That would be a good test and implementation using #174 and #189.

Add more output to `--list|-l` mode for data sets and attributes:
- also outputting their `CollectionType` (and `DCDataType`) (#189)
- their dimensionality for data sets and non-scalar attributes (local in the current file and global)
- fo

[2015-10-01 13:27] ax3l opened #197 "CMake: Make Tests & Examples"
For quick testing and developing, it is a bit cumbersome to build the `examples/` and `tests/` separately.

I would suggest to move them as additional (optional) `make` targets to the general `CMakeLists.txt`.

[2015-10-06 11:55] ax3l opened #200 "Atomic Basetypes: (U)Ints "INTEL"?"
We are currently using [`H5T_INTEL_*` types](https://github.com/ax3l/libSplash/blob/018f7c493e543cd040d5613ed0709ab81ddebfc6/src/include/splash/basetypes/basetypes_atomic.hpp#L50-L58) for `int` and `uint` `CollectionType`s.

Following [the documentation](https://www.hdfgroup.org/HDF5/doc/RM/PredefDTypes.html) they are designed:
[code]

I don't think it matters in representation in our use cases, b

[2015-10-08 11:27] ax3l commented on #191
update: the taurus support answered and they update the modules to avoid setting `LIBRARY_PATH` (and similar ones such as `CPLUS_INCLUDE_PATH`), too.

the updated profile from https://github.com/ComputationalRadiationPhysics/picongpu/pull/1116 still `unset`s the var which is fine and compatible.

[2015-10-30 10:35] PrometheusPi opened #202 "CMAKE examples: build for domain_write missing"
The current CMake in `examples` creates a makefile for the `domain_read` but not for the `domain_write`. How do you test writing data?

[2015-10-30 10:38] PrometheusPi commented on #202
Since I am in need for a test for writing hdf5 data with libSplash to test `/scratch` on taurus, how do you compile `domain_write` by hand?

[2015-10-30 10:40] psychocoderHPC commented on #202
I looked to the `CMakeLists.txt` file and it looks like if you run `make` you get compiled both examples.

[2015-10-30 10:45] PrometheusPi commented on #202
If I run `cmake .` in `examples`, then `make` I only get:
[code]
next to the CMake files/caches.

(I am using the `master` version - but there has only be a minor change since 1.2.4)

[2015-10-30 10:56] psychocoderHPC commented on #202
Please revert all your changes in examples and than try to build everything out of source.
- create a build folder
- `cd build`
- `cmake PATHTOSRC/examples`
- `make`

[2015-10-30 11:01] PrometheusPi commented on #202
If I follow your steps I get:

**files in `build`:**
[code]
**in `CMakeFiles`:**
[code]

[2015-10-30 11:02] PrometheusPi commented on #202
There is no executable for `domain_write`

[2015-10-30 11:04] psychocoderHPC commented on #202
There is no write example without MPI.
To create the parallel write and read examples please run the following command:
`cmake PATHTOSPLASH/examples -DWITH_MPI=ON`

[2015-10-30 11:45] PrometheusPi commented on #202
@psychocoderHPC Thank you! With mpi on it compiled.

[2015-10-30 12:16] PrometheusPi commented on #202
If I run the executable (on slurm):
[code]

I get the following files:
[code]

This looks like the pre-GordonBellRun setup.
Is there a option to generate parallel output by writing a single file as we currently do with PIConGPU?

[2015-11-05 17:43] ax3l commented on #202
This is the file based "serial" HDF5 output.

We now use the PHDF5 output (based on MPI-I/O), aka "parallel" libSplash.

unfortunately, there is no `ParallelDomainCollector` example but you can (mis)use one of the tests like this:

[code]

e.g., `Parallel_DomainsTest` uses a `ParallelDomainCollector`:
[code]

[2015-11-05 17:46] ax3l commented on #202
Nevertheless, if you are looking for an example only, `PIConGPU` shippes an easy one in [the phase space plugin](https://github.com/ComputationalRadiationPhysics/picongpu/blob/985bbc1358f92917acc2cb788ee733c13a0730ff/src/picongpu/include/plugins/PhaseSpace/DumpHBufferSplashP.hpp)

[2015-11-07 12:49] ax3l commented on #184
Closed with #199

[2015-11-07 12:49] #184 closed

[2015-11-09 13:57] ax3l commented on #162
an other day where I tried to refactor this and it's just super confusing and we barely have [2D data sets](https://github.com/skuschel/postpic/blob/26feba4a33d59e456354f7f21ba81f6cdf69d9b4/postpic/datareader/picongpuh5.py#L74) in the examples/tests...

[2015-11-09 14:10] ax3l commented on #162
moving this to `2.0`, it just hurts too look at it.

Working PR's for 1, 2 and 3D data sets are very welcome.

[2015-11-09 14:12] ax3l commented on #202
@PrometheusPi if there are no more questions you an lose this question.

A general relaxation of the test & example build process is planned in #197

[2015-11-10 12:53] PrometheusPi commented on #202
@ax3l The issue can be closed. However, I am not a maintainer of libSplash, thus you have to close it.

[2015-11-10 16:18] ax3l commented on #174
Closed with #203

[2015-11-10 16:18] #174 closed

[2015-11-10 16:19] ax3l commented on #189
closed with #203

[2015-11-10 16:19] #189 closed

[2015-11-10 16:19] ax3l commented on #202
ok. note: you don't need maintainer rights to close your own issues on any repo, afaik.

[2015-11-10 16:19] #202 closed

[2015-11-10 16:20] #157 closed

[2015-12-01 13:47] ax3l opened #208 "FindHDF5:"
`FindHDF5` in [CMake 3.4.0](http://www.kitware.com/blog/home/post/1002) learned `HDF5_PREFER_PARALLEL` which we should use in case a serial and a parallel version of HDF5 are installed.

[2015-12-03 22:22] RemiLehe commented on #163
I was wondering: is 2.0 necessary for openPMD, or can openPMD already be implemented in the next release of libSplash (1.3/1.4 as I understood) ?

[2015-12-06 13:51] ax3l commented on #163
@RemiLehe Yes you understood it correctly. One can implement the openPMD markup already with the lastest release of libSplash, [version `1.3.0`](https://github.com/ComputationalRadiationPhysics/libSplash/releases/tag/v1.3.0).

For example, PIConGPU is currently implementing `openPMD 1.0.0` for HDF5 based on `libSplash 1.3.0` ([development branch](https://github.com/ax3l/picongpu/tree/topic-openPMD

[2015-12-07 08:26] psychocoderHPC opened #211 "Deadlock in `ParallelDataCollector`"
It looks like there is a race condition in `DCDataSet::create()` if the [setChunking](https://github.com/ComputationalRadiationPhysics/libSplash/blob/c536da491a47522502d116b56faf7e72c06b8896/src/DCDataSet.cpp#L219) is called.
In a PIConGPU simulation on compute cluster `taurus` at the Dresden University of Technology  were *libSplash* is used for output we run into deadlocks while the dump process

[2015-12-07 08:34] psychocoderHPC commented on #211
My strong suspicion is that [this line](https://github.com/ComputationalRadiationPhysics/libSplash/blob/dev/src/DCDataSet.cpp#L171) is not called with the some values from each mpi rank.
`H5Pset_chunk` must be called with the [same values](https://www.hdfgroup.org/HDF5/doc1.6/CollectiveCalls.html).

Currently I can't see why it should not called with the same values. Maybe some can review `DCDataS

[2015-12-07 13:34] ax3l commented on #211
@PrometheusPi can you pls add random waits (0.1 - 3s) before calling `writeDomain` in your tests? Maybe we can find a reproducible example here.

E.g., group create (which is collective in parallel) might not be finished for all nodes or similar.

[2015-12-07 18:06] RemiLehe commented on #163
Ok, thanks for the update !
I think it is great to have a high-level interface for this. Btw, could this allow other PIC codes to use libSplash as a library that writes openPMD output, without having to specifically write the underlying HDF5/ADIOS code ?
(On the LBL side, we've had several request for such library.)

[2015-12-09 14:04] ax3l opened #215 "ADIOS Backend (Parallel)"
A greater design goal for parallel libSplash `2.0.0` would be to add high-level interfaces for openPMD objects (see #163).

When we added those, one could think about implementing [ADIOS](https://github.com/ornladios/ADIOS) as a backend for parallel writing, too.

[2015-12-09 14:15] ax3l commented on #163
Yes, we encourage to do so for HDF5! :)

libSplash was designed from the beginning years ago to be particle and (simple) mesh data centric, using a subset of what HDF5 offers. It evolved over time from parallel file-per-rank to MPI-I/O output methods and can be seen as a predecessor to the openPMD idea. For example, it does not automatically write a large quantity of attributes by itself besides s

[2015-12-09 17:21] ax3l commented on #211
@f-schmitt-zih I am sorry to annoy you with that, do you still remember what's going on in the chunking implementation?

[2015-12-09 17:34] ax3l commented on #211
@PrometheusPi can you pls share the test script you build on my PDC example?
Maybe someone has the time to do more tests and we find a reproducible example.

[2015-12-09 22:36] ax3l commented on #211
update: errors occured both with checkpoints and outputs.
- `-g 880 4032 4864`
- `-d 2 12 8`
- `-m`

[2015-12-10 08:29] psychocoderHPC commented on #211
I remember that I change the ib parameter on clusters with openmpi in the past. The problem was that large mpi calls sometimes creates deadlocks in PIConGPU. Reason for this was that rdma calls greater than the rdma buffer were not split in smaller chunks.

The current taurus run that crashed not manipulated the open ib buffers maybe that triggered  the deadlock.

**This are the buffer which we th

[2015-12-10 15:10] ax3l commented on #211
I can run on tauris with
- 1 node / 4 MPI ranks (gpus: 2 1 2)
- 2 nodes / 8 MPI ranks (gpus: 2 2 2)
- 4 nodes / 16 MPI ranks (gpus: 2 4 2)

but get stderr entries on
- 10 nodes / 40 MPI ranks (ranks: 2 10 2)
[code]

[2016-01-06 15:27] PrometheusPi opened #219 "openPMD: SDC globalAttributes still in /custom"
Global attributes written with the **Serial Data Collector** are written to `/custom` not to `/` as required by openPMD.
This can not be (simply) fixed by changing `SDC_GROUP_CUSTOM` from `/custom` to `/` in [sdc_defines.hpp](https://github.com/ComputationalRadiationPhysics/libSplash/blob/985e30a0fad3cc0c13bdd02eeeb1a7981ed14f75/src/include/splash/sdc_defines.hpp#L33).

[2016-01-07 15:13] ax3l opened #220 "Writing an Array Attribute of String"
Two write an array of constant size string one can currently do as equivalent to:

[code]

Write an array of three strings of size 1 one can do in C-style notation:
[code]

which works.

I am not 100% sure currently if one can write something like the following python equivalent where the three const-size static lengths strings can vary between each other in size:

[code]

It might be possible to

[2016-01-07 15:37] ax3l commented on #220
Update: I just checked what `h5py` does in such a case and it is, surprise surprise, `NULL` padding :D
[code]

while else it results in
[code]

That means: choose `N` as large as the largest size of your strings and pad with zeros, too ;)

[code]

(let us wrap away the null-padding in some helper ;) )

[2016-01-07 15:39] ax3l commented on #220
Nevertheless, libSplash strings are currently using `STRPAD H5T_STR_NULLTERM;` instead of `STRPAD H5T_STR_NULLPAD` (h5py), we might need to change that.

[2016-01-08 13:18] PrometheusPi commented on #220
@ax3l
Thanks for posting this information. Great work checking the result in python. :+1:

[2016-01-08 13:28] ax3l commented on #220
I got a RT crash when testing right now, lets see how far we get
[code]

[2016-01-08 13:29] ax3l commented on #220
uh, wrong thread.

[2016-01-11 10:02] PrometheusPi commented on #220
@ax3l
Why do you need
[code]
You already pre-paded all targets with NULLs
[code]

[2016-01-11 10:23] ax3l commented on #220
What you are referring to is just a quick hack that I needed and documented for testing.

The usage that is of interest for you is in
  https://github.com/ComputationalRadiationPhysics/picongpu/pull/1323
and works a bit more sophisticated :)

[2016-01-11 15:35] PrometheusPi opened #221 "Verbose: no output for attributes"
There seems to be no verbose output for writing attributes. (Tested with both the parallel and serial data connector) Even for `export SPLASH_VERBOSE=100`.

This makes debugging due to  errors during writing attributes difficult.

Would it make sense to add output for attributes as well?
Is such output already included for "higher" verbose levels?

[2016-01-11 16:50] ax3l commented on #221
I saw that too and when following the thrown exceptions they actually point quite clearly to the point and `H5AWrite` calls one is looking for. This is actually quite ok for a developer.

For a user it's also quite clear that the writeAttribute call failed and he/she can forward the exception to the developer.

[2016-01-12 13:24] PrometheusPi commented on #219
If the `SDC_GROUP_CUSTOM` in  in [sdc_defines.hpp](https://github.com/ComputationalRadiationPhysics/libSplash/blob/985e30a0fad3cc0c13bdd02eeeb1a7981ed14f75/src/include/splash/sdc_defines.hpp#L33). is changed to `"/"`, the `writeGlobalAttributes()` in [SerialDataCollector.hpp](https://github.com/ComputationalRadiationPhysics/libSplash/blob/18ff55ea64dfacf2d68694cfae508c2be57ec7f4/src/SerialDataColl

[2016-01-15 01:38] ax3l opened #222 "ColType: Disallow Copy Contructor"
We should move the copy contructor of CollectionTypes into the `private` section to disallow by syntax to copy CollectionTypes.

This is due to the fact that most times this results in a corrupted CollectionType causing hard to find bugs.

Example: ColTypeString with fixed length.

[2016-01-15 17:30] ax3l commented on #219
@f-schmitt-zih do you know by coincidence how we can migrate the `/custom` group to `/` instead?

This will introduce the assumption that `writeGlobalAttribute` in SDC is really writing a global, attribute and not a local, rank-specific one.
We can still use the current implementation as a `writeCustromAttribute` for SDC.

[2016-02-24 16:32] ax3l opened #223 "I/O Characterization: Darshan"
Simple tool to characterize the I/O behaviour of an application.

Homepage: https://www.mcs.anl.gov/research/projects/darshan/
OLCF: https://www.olcf.ornl.gov/kb_articles/darshan-basics/

Visualization: https://github.com/huongluu/DarshanVis

[2016-04-11 18:53] ax3l opened #224 "readMeta: ColType is "Random" (First)"
As commented [here](https://github.com/ComputationalRadiationPhysics/libSplash/pull/203/files#r59259938) the `readMeta` function is acidently returning the `CollectionType` of the *first* found entry in a `id` (time step) instead of the matched entry by name.

[2016-04-11 19:03] ax3l commented on #224
@slizzered I might push the bug fix myself after (US-time) lunch

[2016-04-12 00:03] ax3l commented on #224
detection for bool is broken, too (since we changed the internal representation in #152 / #198)

[2016-04-12 01:02] ax3l opened #226 "ColType operator=="
We should implement the `==` operator for `CollectionTypes` so a `ColTypeInt` and a `ColTypeInt32` can be compared.

[2016-04-12 02:38] ax3l commented on #211
Since the bug is not occuring any more and likely an IB configuration problem I will close it for now as wontfix.

[2016-04-12 02:38] #211 closed

[2016-04-12 02:40] ax3l commented on #220
migrated to future: the above linked helper in PIConGPU should be ported to libSplash.

[2016-04-12 02:41] ax3l commented on #14
added via #207

[2016-04-12 02:41] #14 closed

[2016-04-12 02:48] ax3l commented on #219
changed in https://github.com/ax3l/libSplash/tree/topic-sdcGlobalAttrPath for the `1.4.0` release.

[2016-04-12 02:51] ax3l commented on #222
Actually hiding the copy constructor is not so easy since we need `colType`'s as return types in `readMeta`...

[2016-04-12 02:52] #224 closed

[2016-04-12 22:42] ax3l commented on #168
I will close the issue for now since no further problems where reported and new versions are released.

[2016-04-12 22:42] #168 closed

[2016-04-12 23:26] ax3l commented on #168
note:

tested compile & install again today on lawrencium (LBNL):

- libSplash release `1.3.1`
- Scientific Linux release 6.5 (Carbon)
- gcc 4.4.7
- parallel HDF5 1.8.11
- openmpi 1.6.5

results:
- [x] library: builds and installs

- [ ] tests: build fails
- [x] examples: builds & runs

[2016-04-12 23:38] ax3l commented on #168
@wolfbill I think you did build the examples `cmake ~/path/to/libSplash/examples`.

In this case, you do not need to hit "make install` since the created binaries can be executed directly from your build directory.

[2016-04-13 02:49] #219 closed

[2016-04-27 14:20] ax3l opened #231 "Attribute Writing: Create Group if Missing"
Similar to `createReference` we need a very simple and stupid API to create an empty group for [constant openPMD records](https://github.com/openPMD/openPMD-standard/blob/1.0.0/STANDARD.md#constant-record-components). Right now, `writeAttribute` calls fail if the group (or data set) do not yet exist (instead of, e.g., creating the group).

@f-schmitt-zih  Is there such an API yet?

Otherwise we ne

[2016-04-27 14:20] ax3l commented on #231
ccing @slizzered just in case you still love libSplash hacking to get your head off ;)

[2016-04-27 16:14] f-schmitt-zih commented on #231
I don't think there is a way to do that. I just wanted to try, but the following fails on Ubuntu 14.04 with libsplash master because it doesn't find hdf5:
Apt-get install libhdf5-openmpi-7
Cmake

[2016-04-27 16:30] ax3l commented on #231
Hm, trusty ships [1.8.11](http://packages.ubuntu.com/trusty/libhdf5-openmpi-7) which is new enough. We are compiling on precise with [travis](https://github.com/ComputationalRadiationPhysics/libSplash/blob/master/.travis.yml) for now.

You might want to search in [`/usr/lib/x86_64-linux-gnu/`](http://packages.ubuntu.com/trusty/amd64/libhdf5-openmpi-7/filelist) via `CMAKE_PREFIX_PATH`, too. (Or cma

[2016-04-27 16:31] ax3l commented on #231
P.S.: my current work-around is to write a dummy variable inside the group I want to get, but that is not ideal :)

[2016-04-27 16:45] f-schmitt-zih commented on #231
I think the easiest solution will be to allow writeAttribute to create the
group, just as a normal dataset write does. You would only need a new api
if you want to create empty groups without attributes and datasets, which
doesn't seem to make sense. Updating writeAttribute also doesn't seem to
break any compatibility.
On Apr 27, 2016 9:31 AM, "Axel Huebl" <notifications@github.com> wrote:

[2016-04-28 08:12] ax3l commented on #231
Sounds good, so we just change the behaviour of `write[Global]Attribute`.

[2016-05-04 15:51] ax3l opened #232 "Attribute Writing: Storage"
We should verify where our attributes are written and if we want to change that via [H5Pset_attr_phase_change](https://www.hdfgroup.org/HDF5/doc/RM/RM_H5P.html#Property-SetAttrPhaseChange) so more attributes are in "fast" sections of the file.

[2016-05-10 14:36] s0vereign opened #233 "Failed to extent dataset using SerialDataCollector"
I'm trying testwise to append a value to a Dataset written by SerialDataCollector using the following:

...

// Create necessary attributes
   splash::SerialDataCollector HDFile(1);
   splash::DataCollector::FileCreationAttr fa;
    splash::DataCollector::initFileCreationAttr(fa);
    fa.fileAccType = splash::DataCollector::FAT_CREATE;
//  This is taken from a class therefore filename is known

[2016-05-10 18:46] ax3l commented on #233
Thanks for the issue!

Looks a bit like a bug to me. As a work-around you can replace your initial `write` call with
[code]

That said, be aware of the limitations of `append`: is usually not a great operation performance wise and works only 1d data sets as described in the [manual](https://github.com/ComputationalRadiationPhysics/libSplash/blob/master/doc/manual/UserManual.pdf).

CCing @f-schmitt

[2016-05-11 12:00] s0vereign commented on #233
Okay thank you very much, it's no problem at all the workaround does the job as well!
I just tried it because having one dataset for all iterations is a bit more convenient than one per iteration( for smaller stuff at least, in which IO performance is not critical).

[2016-05-11 16:26] ax3l commented on #233
Ok, glad that helps!

I will leave it open for future improvements but I guess that would need an API change in the write API.

[2016-05-17 19:34] ax3l opened #235 "Complex Types"
Check how `numpy.complex64` and `numpy.complex32` look in HDF5 and implement as new types.

[2016-05-18 08:39] ax3l commented on #235
[code]

[2016-06-01 02:52] wolfbill commented on #168
Thank you.The problem has been solved now.

[2016-06-01 08:11] ax3l commented on #168
thank you for the information! glad it works for you :sparkles:

[2016-06-13 09:15] Flamefire opened #236 "Unify DataCollector interface"
It would be helpful to have a uniform interface for DataCollectors. Currently there is an additional one `IParallelDataCollector` that has similar methods as the regular one, but with slightly different arguments. Most notably is the `writeGlobalAttribute` that takes an ID for the Parallel version but not for the base which can even lead to unexpected behaviour.

[2016-06-13 09:26] Flamefire opened #237 "Store states in DataCollectors"
The DataCollector classes should be converted to C++ classes that can store states.

1. Store the ID.
Currently you must pass the id to almost(?) every write/read method. This is inconvenient and error-prone. The ID should be stored (e.g. during opening or with setters if it should be possible to change it) and removed from the write/read interface
2. Similar with the mpiRank
Currently some classe

[2016-06-13 11:43] ax3l commented on #237
possible to be done as a high-level interface in #163

[2016-06-15 14:04] Flamefire opened #238 "Get/Check type of attribute"
Is there currently any way to check the type of an attribute?
I currently see only the interface `readAttribute(int32_t id, const char *dataName, const char *attrName, void* data)` which completely ignores the type. So reading a `double` when a `float` was expected leads to buffer overflows. Even worse for unexpected array attributes.

ccing @slizzered @ax3l

[2016-06-17 08:45] Flamefire opened #239 "Remove Dimensions::getDims"
This function (https://github.com/ComputationalRadiationPhysics/libSplash/blob/master/src/include/splash/Dimensions.hpp#L252-L263) is wrong, as it does neither honor zero sizes (all dims=0) nor does it work for offsets. As it can't be fixed properly in that design, it should be removed.

[2016-06-17 11:45] ax3l commented on #239
careful, zero-components have still "size==1", e.g., a 2D data set has (X, Y, 1) size and (OX, OY, 0) offset

[2016-06-17 11:52] Flamefire commented on #239
So a 2D zero size is `(0, 0, 1)`? This looks rather strange... Is this a HDF5/Splash related requirement?

[2016-06-17 12:06] ax3l commented on #239
no there is no zero size in libSplash, the smallest element one can write is of size (1, 1, 1) while its dimensionality is set via `dim`.

[2016-06-17 12:08] Flamefire commented on #239
Really? What about e.g. writing particles when there are no particles for the current process? Or field slices where the current process has no data because it is outside the slice?

[2016-06-17 12:15] ax3l commented on #239
The limitation only applies to "global" sizes of data sets.
Please check https://github.com/ComputationalRadiationPhysics/picongpu/tree/dev/src/picongpu/include/plugins/hdf5 for details.

[2016-06-17 12:17] ax3l commented on #239
zero-sized would be [`(0, 1, 1)`](https://github.com/ComputationalRadiationPhysics/picongpu/blob/dev/src/picongpu/include/plugins/hdf5/writer/ParticleAttribute.hpp) ... don't judge. it's all from having a fixed 3D `Dimensions` object in splash instead of using a class that can do ND...

[2016-06-17 12:20] Flamefire commented on #239
Well I did not know, that you can't write a zero-sized property and just did it. It actually writes a single value, but doesn't run into any problems besides that.

[2016-06-17 12:38] ax3l commented on #239
yes, sounds like it.

[2016-06-23 08:25] Flamefire opened #244 "Pass collectiontype when reading"
HDF5 does datatype conversion when required (https://www.hdfgroup.org/HDF5/doc/UG/HDF5_Users_Guide-Responsive%20HTML5/index.html#t=HDF5_Users_Guide%2FDatatypes%2FHDF5_Datatypes.htm%23TOC_6_10_Data_Transferbc-26&rhtocid=6.5_2)
So the interfaces should accept a `CollectionType` when reading making the read/write signature almost the same.

Example:

        virtual void readAttribute(int32_t id,

[2016-06-23 09:31] Flamefire opened #245 "Little/Big endianess wrong"
HDF5 can convert data in an endianess aware way. But currently the datatype stored in the file is always used, which will lead to wrong results in cases where the endianess on file and on machine are different.

Related to #244 as this will be solved, when using `CollectionTypes` consistently.

[2016-07-08 13:44] ax3l commented on #244
one general comment: a current design flaw is still, that *native* HDF5 types such as `hid_t` are currently exposed in the public API of libSplash. This leads to the problem, that booth `<splash/splash.h>` and `<hdf5.h>` need to be present in user code.

Ideally, `<hdf5.h>` and objects / types from it would not be visible in any of the header files of libSplash.

[2016-09-14 13:40] #231 closed

[2016-10-26 09:36] ax3l commented on #239
can this issue be closed or does it need further evaluation?

[2016-10-26 09:53] Flamefire commented on #239
It is not solved as that function is still wrong for the reasons described. Another simple example: 3D size of 1: `(1, 1, 1)` for which `getDims` would return 1 which is obviously wrong.

[2016-10-26 11:12] ax3l commented on #239
well it's not completely wrong, just super inconsistent. `(1, 1, 1)` is indeed one element, but I see your point. needs a general redesign.

[2016-10-26 11:36] Flamefire commented on #239
If you create a 3D object and it says it is 1D it is not inconsistent, it is plain wrong. Or would you use "inconsistent" for "works sometimes but fails silently otherwise"?
So remove it for now (see initial description). Better have no result than a wrong one.

[2016-10-26 15:17] ax3l opened #254 "DataContainer reads wrong offset"
When reading a domain with DomainCollectors putting the result via `addDomain` to a `DataContainer` the offset in the container is determined falsely (always 0,0,0).

logic error in libSplash when reading offsets:
- default = 0,0,0 https://github.com/ComputationalRadiationPhysics/libSplash/blob/563da86e62fc483d214bed4163140b15f4957abe/src/include/splash/domains/DataContainer.hpp#L48
- min with val

[2016-10-27 09:54] ax3l opened #255 "GCC 6.2.0: Compile Error"
Compiling with gcc 6.2.0 leads to a compile error in [`DCHelper.hpp` line 150](https://github.com/ComputationalRadiationPhysics/libSplash/blob/v1.5.0/src/include/splash/core/DCHelper.hpp#L150):
[code]

[2016-10-27 10:06] ax3l commented on #255
ame bug as #147

[2016-10-27 11:43] ax3l commented on #255
is `abs` even useful here? `(size_t - (size_t * 2))` would flip anyway... o.0

[2016-10-28 11:31] #255 closed

[2017-06-23 08:25] Flamefire commented on #254
Idea for a fix: If the first entry is added then  init offset to the entrys offset. Would only be 2 lines added.

[2017-06-29 13:36] ax3l commented on #254
that could work, but I did not check the full logics it will touch yet.

maybe we add a (currently failing) test first and then implement that by checking `subdomains.size()` for the first add?

[2017-07-03 09:54] Flamefire opened #262 "Possible race condition in libSplash"
Noticed in #259 and #248:

There is one failed test for the "Fix compile errors" commit in #259 with a `assertion failed - Expression: sum == old_sum` in only one compilation (https://travis-ci.org/ComputationalRadiationPhysics/libSplash/jobs/243867208) but it is gone in the next commit which did not change anything at all (just re-added a function but did not use it)

In #248 I (very rarely) got

[2017-07-13 08:40] ax3l opened #265 "Warning in H5IdWrapper"
The current (pre 1.7.0-dev) causes the following warning with GCC 4.9.2 in PIConGPU:

[code]

[2017-07-13 08:57] Flamefire commented on #265
Strange. This line (https://github.com/ComputationalRadiationPhysics/libSplash/pull/248/files#diff-76c3ec9bcec7a4eb129e6c36f5699bdaR40) should avoid this. Don't know how else to do it. Maybe simply make it inherit from the policy and make the copy CTor private

[2017-07-13 09:29] ax3l commented on #265
I know and that usually works... could be ineffective do to it's `static`-ness.

[2017-10-06 09:34] PrometheusPi opened #266 "Attribute _size is of type uint64"
Various attributes are given as unit64 type. This might be slightly more memory efficient but causes a lot of trouble when using the common openPMD data analysis tools, because e.g. when loading `_size` to perform a data slicing via integer division as
[code]
will fail because a integer division by a `uint` and an `int` is just a floating point division in python.

I would vote for changing theses

[2017-10-06 09:46] PrometheusPi commented on #266
cc @steindev and @alex-koe

[2017-10-06 10:52] ax3l commented on #266
@PrometheusPi the attributes with `_` are not openPMD and are only in libSplash files for legacy reasons. please use the according openPMD attributes instead.

Decisions for unsigned vs. signed are usually not done due to memory constrains but due to definition range. A size can never be negative for example.

Array access and behavior of integer arithmetics differs on the Python version. In any c

[2017-10-06 11:16] ax3l commented on #266
Python 2.7 and 3.4 possibilities for the numpy cast handling:
[code]

I personally would prefer `int(Ny)//2` or if necessary the last method. This is still "just" a Numpy specific thing and not really a question of the actually stored data attribute.

[2017-10-06 21:05] PrometheusPi commented on #266
Further investigations showed that only the `np.uint64` data type is effected. I opened an [issue](https://github.com/numpy/numpy/issues/9833) at the numpy repo.

This seems to be a python issue - I will thus close this issue here.

[2017-10-06 21:05] #266 closed

[2017-10-08 12:15] PrometheusPi commented on #266
**Update:**
In numpy, casting to float is intentional at this point. Since uint has a slightly higher range, a cast to int might lead to errors. Thus `unitX // intX` will always return `int(X*2)`. However, since `unit64` is the largest rang available, there a cast to float is favored to avoid possible errors.

Thus, numpy will not change this behavior.

[2017-10-08 12:17] PrometheusPi commented on #266
The optimal solution is thus:
[code]

[2017-10-09 08:44] ax3l commented on #266
Thx for asking upstream!

Actually the decision of going to float for a slightly larger range (2x) is bought by getting less precision due to the mantissa in floats. This can only be counter-act again by going to really large floats, which is memory and speed costly when starting from a `(u)int64`...

[2018-01-16 11:06] ax3l opened #270 "CMake Warning Install"
[code]

[2018-01-22 14:44] #265 closed

[2018-01-22 14:45] #254 closed

[2018-02-08 13:56] #270 closed

[2018-08-08 08:57] psychocoderHPC opened #278 "potential memory leak"
The method `generateCollectionType()`  used in [getType()](https://github.com/ComputationalRadiationPhysics/libSplash/blob/140d6ce903d265909c3f8021d5d9cc04e5a72d37/src/AttributeInfo.cpp#L136) is returning a pointer those must be freed by the caller.
Due to the reason that `getType` is returning a reference this is not obvious for the caller.

[2018-08-08 09:02] psychocoderHPC commented on #278
Wrong alarm the memory is freed in the destructor https://github.com/ComputationalRadiationPhysics/libSplash/blob/140d6ce903d265909c3f8021d5d9cc04e5a72d37/src/AttributeInfo.cpp#L42

[2018-08-08 09:02] #278 closed, assigned to nobody

[2018-11-12 12:12] PrometheusPi commented on #132
what is the status of this issue?

[2018-11-13 20:44] ax3l commented on #132
Labels for dimensions are part of openPMD with the "axisLabels" attribute for mesh records.

It's available since [openPMD 1](https://github.com/openPMD/openPMD-standard/blob/1.1.0/STANDARD.md#mesh-based-records) and also implemented in [openPMD-api](https://github.com/openPMD/openPMD-api) which is the re-implementation of libSplash with generalized backends (ADIOS1, HDF5, JSON, ...) and various f

[2019-01-21 11:00] ax3l opened #280 "OpenMPI: Use ROMIO for IO"
A note on using libSplash with OpenMPI:

OpenMPI's default for its IO backend is OMPIO, [starting with 2.x](https://www.open-mpi.org/faq/?category=ompio).

Unfortunately, that backend contains severe bugs leading to data corruption and sporadic crashes as of the latest releases (e.g. 3.1.3 and 4.0.0). Please see https://github.com/open-mpi/ompi/issues/6285 for details.

As a work-around for all sy

[2019-03-01 09:54] ax3l opened #283 "CMake: ZLIB Deps"
We currently (1.7.0) link in `CMakeLists.txt` to `ZLIB::ZLIB`, although we do not include zlib directly in Splash.

This dependency should nowadays (recent CMake versions such as our 3.10+) be properly be pulled by the HDF5 CMake target.

Currently, we request zlib again and forget to search it in `SplashConfig.cmake`, which leads to the downstream issue of injecting a `ZLIB::ZLIB` in `Splash::Spl

[2019-08-31 20:12] ax3l commented on #163
This issue is super-seeded by our new project, [openPMD-api](https://github.com/openPMD/openPMD-api), which will receive all further I/O efforts.

[2019-08-31 20:12] #163 closed

[2019-08-31 20:13] ax3l opened #284 "dynamic exception specifications are deprecated in C++11"
Compiling with GCC 8.2.0 throws several warnings of the form:
[code]

[2020-01-28 21:04] ax3l commented on #280
Issue continued in: https://github.com/openPMD/openPMD-api/issues/446